@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-white text-black dark:bg-gray-900 dark:text-white;
	}

	ul {
		@apply list-disc pl-4;
	}

	ol {
		@apply list-decimal pl-4;
	}

	h1 {
		@apply text-4xl font-extrabold tracking-tight lg:text-5xl py-4;
	}

	h2 {
		@apply text-3xl font-semibold tracking-tight py-4;
	}

	h3 {
		@apply text-2xl font-semibold tracking-tight py-4;
	}

	h4 {
		@apply text-xl font-semibold tracking-tight;
	}

	p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}

	a {
		@apply underline-offset-4 underline;
	}

	blockquote {
		@apply mt-6 border-l-2 border-gray-200 pl-6 italic dark:border-gray-700;
	}
}

* {
	font-family:
		Atkinson Hyperlegible,
		sans-serif;
}

code {
	font-family: "JetBrains Mono", monospace !important;
	word-break: keep-all;
}

code * {
	font-family: "JetBrains Mono", monospace !important;
}

.underlinespecial {
	position: relative;
	background-color: var(--bg-color);
}

.underlinespecial::after {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	content: "";
	display: block;
	width: 100%;
	height: var(--line-width);
	border-radius: 1000px;
	background: var(--line-color);
	position: absolute;
	bottom: -3px;
	left: 0;
}

textarea {
	--tw-ring-shadow: 0 0 #000 !important;
}

.animate-bigbounce {
	animation: bigbounce 1s infinite;
}

.animate-after-bigbounce::after {
	animation: bigbounce 1s infinite;
}

@keyframes bigbounce {
	0%,
	100% {
		transform: translateY(-40%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.header {
	padding-top: 6px;
}

th[align="center"] {
	text-align: center;
}

th[align="right"] {
	text-align: right;
}
