@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	ul {
		@apply list-disc pl-4;
	}

	ol {
		@apply list-decimal pl-4;
	}

	h1 {
		@apply text-5xl py-4;
	}

	h2 {
		@apply text-3xl sm:text-3xl lg:text-4xl py-4;
	}

	h3 {
		@apply text-xl sm:text-xl lg:text-2xl py-4;
	}

	h4 {
		@apply font-bold;
	}

	p {
		@apply lg:text-base md:text-lg xl:text-lg py-4;
	}

	* {
		@apply dark:text-white text-black;
	}

	a {
		@apply underline;
	}

	blockquote {
		@apply pl-4;
	}
}

* {
	font-family: Atkinson Hyperlegible;
}

code {
	font-family: 'JetBrains Mono' !important;
	word-break: keep-all;
}

code * {
	font-family: 'JetBrains Mono' !important;
}

.underlinespecial {
	position: relative;
	background-color: var(--bg-color);
}

.underlinespecial::after {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	content: '';
	display: block;
	width: 100%;
	height: var(--line-width);
	border-radius: 1000px;
	background: var(--line-color);
	position: absolute;
	bottom: -3px;
	left: 0;
}

textarea {
	--tw-ring-shadow: 0 0 #000 !important;
}

.animate-bigbounce {
	animation: bigbounce 1s infinite;
}

.animate-after-bigbounce::after {
	animation: bigbounce 1s infinite;
}

@keyframes bigbounce {
	0%,
	100% {
		transform: translateY(-40%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.header {
	padding-top: 6px;
}

th[align='center'] {
	text-align: center;
}

th[align='right'] {
	text-align: right;
}
