name: Fuzz

on:
  schedule: 
    #- cron: "*/10 * * * *"
    - cron: "*/0 * * * *"

env:
  CARGO_TERM_COLOR: always
  # Run for 100 times the default
  QUICKCHECK_TESTS: 10000

jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: harden-title-case
      - uses: extractions/setup-just@v2
      - name: Test
        run: cargo test
